.container {
  margin: 0 auto;
  width: 1300px;
  margin-top: 25px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 72px;
}

.logo {
  margin-right: 260px;
}

.nav_link {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.line {
  margin-top: 25px;
  border: 2px solid;
  color: #E0E0E0;
  margin-bottom: 49px;
}

.room {
  width: 95%;
}

h1, h2, h3, h4, p, a, span {
  font-family: 'Roboto-Regular';
}

article > .container {
  width: 1300px;
  margin: 0 auto;
}

.txt_design {
  width: 355px;
  height: 174px;
  font-size: 48px;
  line-height: 58px;
  margin-left: 100px;
  display: inline-block;
}

.txt_wewe {
  width: 569px;
  font-size: 24px;
  line-height: 40px;
  display: inline-block;
  margin-left: 100px;
  color: #9c9c9c;
}

.window {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 650px 650px;
}
