.container {
  margin: 0 auto;
  width: 1300px;
  margin-top: 25px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 72px;
}

.logo {
  margin-right: 260px;
}

.nav_link {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.line {
  margin-top: 25px;
  border: 2px solid;
  color: #E0E0E0;
  margin-bottom: 49px;
}

.room {
  margin-left: -20px;
}

h1, h2, h3, h4, p, a, span {
  font-family: 'Roboto-Regular';
  letter-spacing: 2px;
}

article > .container {
  width: 1300px;
  margin: 0 auto;
}

.txt_design {
  width: 355px;
  height: 174px;
  font-size: 48px;
  line-height: 58px;
  margin-left: 100px;
  display: inline-block;
}

.txt_wewe {
  width: 569px;
  font-size: 24px;
  line-height: 40px;
  display: inline-block;
  margin-left: 100px;
  color: grey;
}

.window {
  margin-top: 210px;
  justify-content: center;
  display: grid;
  grid-template-rows: 450px;
  grid-template-columns: 605px 605px;
}

.brand {
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
}

.over {
  line-height: 36px;
  font-size: 24px;
}

.brand_logo {
  margin-top: 125px;
  margin-bottom: 150px;
}

.Our {
  width: 660px;
  text-align: left;
  margin: 0 auto;
  font-size: 30px;
  line-height: 50px;
  margin-top: 80px;
}

.block_time {
  margin-top: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: 310px 310px 310px;
}

.txt_time {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: 20px 150px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.txt_time > p {
  text-align: left;
  color: grey;
  padding: 0 10px;
  margin-left: -10px;
}

.txt_two {
  text-align: left;
  color: grey;
  width: 700px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.txt_free {
  text-align: left;
  width: 700px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 30px;
}

.block_site_box {
  margin-top: 100px;
  display: inline-block;
}

.block_sit1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.txt_paragraph1 {
  text-align: left;
  padding: 0 50px;
  margin-top: 21%;
}

.txt_paragraph1 > p {
  color: grey;
}

.block_sit1:nth-child(even) {
  flex-direction: row-reverse;
}

.bg_grey {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 465px;
  background-color: rgba(233, 235, 236, 0.7);
}

.day {
  position: absolute;
  top: 50px;
  left: 35%;
  line-height: 50px;
  font-size: 40px;
}

.icon {
  position: absolute;
  top: 200px;
  left: 26%;
}

.button {
  position: absolute;
  top: 350px;
  left: 550px;
  padding: 17px;
  background-color: #46856E;
  color: white;
  border: none;
}

.button:hover {
  cursor: pointer;
  position: absolute;
  top: 350px;
  left: 550px;
  padding: 17px;
  background-color: #145534;
  color: white;
  border: none;
}
