.container
    margin: 0 auto
    width: 1300px
    margin-top: 25px    

.nav
    display: flex
    align-items: center
    margin-left: 72px

.logo
    margin-right: 260px

.nav_link
    padding: 0 100px

.line  
    margin-top: 25px
    border: 2px solid
    color: #E0E0E0
    margin-bottom: 49px

.room
    width: 95%

h1, h2, h3, h4, p 
    font-family: 'Roboto-Regular'