@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.woff2');
    src: url('FileName.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular.woff2') format('woff2'),
         url('FileName.ttf') format('truetype'),
         url('FileName.svg#Roboto') format('svg');
    font-style: normal;
    font-weight: normal;
}